
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Placement Management System</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
       
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Placement Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                       <!-- <li class="nav-item"><a class="nav-link active" aria-current="index.html" href="#!">Home</a></li>-->
                        <li class="nav-item"><a class="nav-link active" th:href="@{/student/signup}">Student Registration</a></li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{/recruiter/signup}">Recruiter Registration</a></li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{/admin}">College Module</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/img/placement3.jpg" width="100%" height="50%" alt="..." /></div>
                
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Student Module</h2>
                            <p class="card-text">Note : Students who have already registerd themselves for placement can use the same username and password to login to this portal.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" th:href="@{/student/signin}">Student Module</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Recruiter Module</h2>
                            <p class="card-text">Looking to hire candidates? Post a job & hire within 24 hrs. Hire across India, Mumbai, Delhi, Bangalore, Pune, Nagpur, Chennai.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" th:href="@{/recruiter/signin}">Recruiter Module</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">College Module</h2>
                            <p class="card-text">Instructions. Only authorized college administrator can login to this system.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" th:href="@{/admin}">College Module</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">&copy  Copyright 2021-2022  All rights reserved. Developed by  Placement Management System Team .</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
